<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" cms:eval="action" method="POST">
		<div id="contact_form_settings_notebook">
			<div>
				<label>
					<span><cms:text constant="label_mailer" module="contact_form"/></span>
					<select name="mailer" style="width: 150px">
						<cms:mailer_list
							selected="$settings['mailer']"
							cms:eval="selected"
							/>
					</select>
				</label>
			</div>

			<div>
				<fieldset>
					<legend><cms:text constant="legend_sender" module="contact_form"/></legend>
					<label cms:tooltip="tooltip_sender_name">
						<span><cms:text constant="label_name" module="contact_form"/></span>
						<input
							type="text"
							name="sender_name"
							value="$settings['sender_name']"
							cms:eval="value"
							style="width: 250px;"
						/>
					</label>
					<label cms:tooltip="tooltip_sender_address">
						<span><cms:text constant="label_address" module="contact_form"/></span>
						<input
							type="text"
							name="sender_address"
							value="$settings['sender_address']"
							cms:eval="value"
							style="width: 250px;"
							class="code ltr"
						/>
					</label>
				</fieldset>

				<fieldset>
					<legend><cms:text constant="legend_recipient" module="contact_form"/></legend>
					<label cms:tooltip="tooltip_recipient_name">
						<span><cms:text constant="label_name" module="contact_form"/></span>
						<input
							type="text"
							name="recipient_name"
							value="$settings['recipient_name']"
							cms:eval="value"
							style="width: 250px;"
						/>
					</label>
					<label cms:tooltip="tooltip_recipient_address">
						<span><cms:text constant="label_address" module="contact_form"/></span>
						<input
							type="text"
							name="recipient_address"
							value="$settings['recipient_address']"
							cms:eval="value"
							style="width: 250px;"
							class="code ltr"
						/>
					</label>
				</fieldset>
			</div>

			<div>
				<label class="horizontal">
					<span><cms:text constant="label_server" module="contact_form"/></span>
					<input
						type="text"
						name="smtp_server"
						value="$settings['smtp_server']"
						cms:eval="value"
						style="width: 240px;"
						class="code ltr"
					/>
				</label>
				<label class="horizontal">
					<span><cms:text constant="label_port" module="contact_form"/></span>
					<input
						type="text"
						name="smtp_port"
						value="$settings['smtp_port']"
						cms:eval="value"
						style="width: 50px;"
						class="code ltr"
					/>
				</label>
				<label class="checkbox">
					<input
						type="checkbox"
						name="use_ssl"
						checked="$settings['use_ssl'] ? 'checked': false"
						cms:optional="checked"
						/>
					<span><cms:text constant="label_use_ssl" module="contact_form"/></span>
				</label>

				<hr/>

				<label class="radio">
					<span><cms:text constant="label_smtp_no_authentication" module="contact_form"/></span>
					<input
						type="radio"
						name="smtp_authenticate"
						value="0"
						checked="$settings['smtp_authenticate'] == 0 ? 'checked' : false"
						cms:optional="checked"
						/>
				</label>
				<label class="radio">
					<span><cms:text constant="label_smtp_authenticate" module="contact_form"/></span>
					<input
						type="radio"
						name="smtp_authenticate"
						value="1"
						checked="$settings['smtp_authenticate'] == 1 ? 'checked' : false"
						cms:optional="checked"
						/>
				</label>

				<label class="horizontal">
					<span><cms:text constant="label_smtp_username" module="contact_form"/></span>
					<input
						type="text"
						name="smtp_username"
						value="$settings['smtp_username']"
						cms:eval="value"
						style="width: 140px;"
						class="code rtl"
					/>
				</label>
				<label class="horizontal">
					<span><cms:text constant="label_smtp_password" module="contact_form"/></span>
					<input
						type="text"
						name="smtp_password"
						value="$settings['smtp_password']"
						cms:eval="value"
						style="width: 140px;"
						class="code rtl"
					/>
				</label>

				<em><cms:text constant="message_smtp_password_warning" module="contact_form"/></em>
			</div>
		</div>

		<div class="button_bar">
			<button type="submit"><cms:text constant="save"/></button>
			<button type="reset"><cms:text constant="reset"/></button>
		</div>
	</form>
	<script type="text/javascript">
		var notebook = new Notebook('contact_form_settings_notebook');
		notebook
			.setPageTitle(0, language_handler.getText('contact_form', 'tab_general'))
			.setPageTitle(1, language_handler.getText('contact_form', 'tab_identity'))
			.setPageTitle(2, language_handler.getText('contact_form', 'tab_smtp'));
	</script>
</document>
