<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" cms:eval="action" method="POST">
		<fieldset>
			<legend><cms:text constant="legend_account" module="callbox"/></legend>
			<label>
				<span><cms:text constant="label_account_id" module="callbox"/></span>
				<input
					type="text"
					name="account_id"
					value="$settings['account_id']"
					cms:eval="value"
					style="width: 270px;"
					class="code"
					/>
			</label>
			<label class="checkbox">
				<input
					type="checkbox"
					name="include_code"
					checked="$settings['include_code'] ? 'checked' : false"
					cms:optional="checked"
					/>
				<span><cms:text constant="label_include_code" module="callbox"/></span>
			</label>
		</fieldset>

		<fieldset>
			<legend><cms:text constant="legend_api" module="callbox"/></legend>
			<label>
				<span><cms:text constant="label_account_key" module="callbox"/></span>
				<input
					type="text"
					name="account_key"
					value="$settings['account_key']"
					cms:eval="value"
					style="width: 350px;"
					class="code"
					/>
			</label>
			<label>
				<span><cms:text constant="label_account_secret" module="callbox"/></span>
				<input
					type="text"
					name="account_secret"
					value="$settings['account_secret']"
					cms:eval="value"
					style="width: 350px;"
					class="code"
					/>
			</label>
		</fieldset>

		<div class="button_bar">
			<button type="submit"><cms:text constant="save"/></button>
			<button type="reset"><cms:text constant="reset"/></button>
			<button type="button" onclick="$params['cancel_action']" cms:eval="onclick">
				<cms:text constant="cancel"/>
			</button>
		</div>
	</form>
</document>
