<IfModule mod_rewrite.c>
	RewriteEngine On

	# make sure we point to the same content
	RewriteCond %{HTTP_HOST} !^localhost$
	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

	# make sure requested file name is not directory or file name
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	# take whole URI and give it to main index file
	RewriteRule (.*) index.php?_rewrite=$1 [QSA,L]
</IfModule>

<FilesMatch "\.(xml)$">
	Deny from all
</FilesMatch>

# cache modifications
Header unset Pragma

<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif)$">
	Header set Cache-Control "max-age=864000, public, must-revalidate"
	Header unset Last-Modified
</FilesMatch>

<FilesMatch "\.(svg)$">
	Header set Cache-Control "max-age=864000, public, must-revalidate"
	SetOutputFilter DEFLATE
</FilesMatch>

<FilesMatch "\.(js|css|less|ttf|otf)$">
	Header set Cache-Control "max-age=864000, must-revalidate"
	SetOutputFilter DEFLATE
</FilesMatch>

<FilesMatch "\.(html|php)$">
	SetOutputFilter DEFLATE
</FilesMatch>
