<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" eval="action" method="POST">
		<fieldset>
			<legend><cms:text constant="legend_account" module="ctm"/></legend>
			<label>
				<span><cms:text constant="label_account_id" module="ctm"/></span>
				<input 
					type="text" 
					name="account_id" 
					value="$settings['account_id']" 
					eval="value"
					style="width: 270px;"
					class="code"
				/>
			</label>
			<label class="checkbox">
				<span><cms:text constant="label_include_code" module="ctm"/></span>
				<cms:if condition="$settings['include_code']">
					<input 
						type="checkbox" 
						name="include_code" 
						eval="value"
						checked="checked"
					/>
				</cms:if>
				<cms:if condition="!$settings['include_code']">
					<input 
						type="checkbox" 
						name="include_code" 
						eval="value"
					/>
				</cms:if>
			</label>
		</fieldset>

		<fieldset>
			<legend><cms:text constant="legend_api" module="ctm"/></legend>
			<label>
				<span><cms:text constant="label_account_key" module="ctm"/></span>
				<input 
					type="text" 
					name="account_key" 
					value="$settings['account_key']" 
					eval="value"
					style="width: 350px;"
					class="code"
				/>
			</label>
			<label>
				<span><cms:text constant="label_account_secret" module="ctm"/></span>
				<input 
					type="text" 
					name="account_secret" 
					value="$settings['account_secret']" 
					eval="value"
					style="width: 350px;"
					class="code"
				/>
			</label>
		</fieldset>

		<div class="button_bar">
			<button type="submit"><cms:text constant="save"/></button>
			<button type="reset"><cms:text constant="reset"/></button>
			<button type="button" onclick="$params['cancel_action']" eval="onclick">
				<cms:text constant="cancel"/>
			</button>
		</div>
	</form>
</document>
