/**
 * Shared Colors Stylesheet
 * Caracal Backend
 *
 * Copyright © 2017 Way2CU. All Rights Reserved.
 * Author: Mladen Mijatov
 */

@color_bright: white;
@color_dark: black;
@color_active: #e74c3c;

@color_top_bar: #fafafb;
@color_body: #f1f1f2;
@color_menu: #3b3a3f;
