/**
 * Header Stylesheet
 * Caracal Backend
 *
 * Copyright © 2017 Way2CU. All Rights Reserved.
 * Author: Mladen Mijatov
 */

@logo_ratio: 4;

header {
	position: relative;

	box-shadow: 0px 2px 3px fade(@color_dark, 20);
	background-color: @color_top_bar;
}

header div#logo {
	.container-padding(2);
}

header div#logo img {
	@height: 3rem;
	height: @height;
	width: @logo_ratio * @height;
}
