/**
 * Main Stylesheet
 * Caracal Backend
 *
 * Copyright © 2019. Way2CU. All Rights Reserved.
 * Author: Mladen Mijatov
 */

@import (reference) 'colors.less';
@import (reference) 'spacing.less';
@import (reference) 'common.less';

@import 'animations.less';
@import 'fonts.less';
@import 'header.less';
@import 'menu.less';
@import 'window.less';
@import 'window_menu.less';
@import 'dialog.less';
@import 'list.less';
@import 'input.less';
@import 'textarea.less';
@import 'select.less';
@import 'form.less';
@import 'icons.less';
@import 'notebook.less';
@import 'toolbar.less';
@import 'box.less';


body {
	margin: 0;
	padding: 0;
	background-color: @color_body;

	color: @color_dark;
	font-family: generic;
	font-weight: 400;
	font-style: normal;

	// hide sprite and default window icon
	> svg {
		display: none;
	}

	> section {
		display: flex;
		height: calc(~'100vh - ' @header_unit + (4 * @padding_unit));
		flex-flow: row;
		align-items: stretch;
	}

	div#container {
		flex: 1 0 auto;

		background-image: url(../images/background.svg);
		background-size: 50% auto;
		background-position: center;
		background-repeat: no-repeat;
	}
}
