/**
 * Main Stylesheet
 * Caracal Backend
 *
 * Copyright © 2017 Way2CU. All Rights Reserved.
 * Author: Mladen Mijatov
 */

@import 'fonts.less';
@import 'colors.less';
@import 'menu.less';


body {
	background-color: @color_body;

	color: @color_dark;
	font-family: Ubuntu, sans-serif;
	font-weight: 400;
	font-style: normal;
}
