<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" eval="action" method="POST">
		<label>
			<span><_text constant="label_description" module="page_info"/></span>
			<textarea name="description" style="width: 370px; height: 140px;">
				<_var name="$settings['description']"/>
			</textarea>
		</label>
		<label>
			<span><_text constant="label_analytics" module="page_info"/></span>
			<input type="text" name="analytics" value="$settings['analytics']" eval="value"/>
		</label>
		<label>
			<span><_text constant="label_wm_tools" module="page_info"/></span>
			<input type="text" name="wm_tools" value="$settings['wm_tools']" eval="value" style="width: 350px;"/>
		</label>
		<div style="padding-bottom: 10px;">
			<div class="box left">
				<label>
					<span><_text constant="label_optimizer" module="page_info"/></span>
					<input type="text" name="optimizer" value="$settings['optimizer']" eval="value"/>
				</label>
			</div>
			<div class="box left">
				<label>
					<span><_text constant="label_optimizer_key" module="page_info"/></span>
					<input type="text" name="optimizer_key" value="$settings['optimizer_key']" eval="value" style="width: 120px;"/>
				</label>
			</div>
			<div style="clear: both;"/>
		</div>
		<div class="button_bar">
			<button type="submit"><_text constant="save"/></button>
			<button type="reset"><_text constant="reset"/></button>
			<button type="button" onclick="$params['cancel_action']" eval="onclick">
				<_text constant="cancel"/>
			</button>
		</div>
	</form>
</document>
