<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" cms:eval="action" method="POST">
		<div id="paypal_settings_notebook">
			<div>
				<label>
					<span><cms:text constant="label_username" module="paypal"/></span>
					<input
						type="text"
						class="code"
						name="api_username"
						value="$settings['api_username']"
						cms:eval="value"
						style="width: 250px;"
						/>
				</label>
				<label>
					<span><cms:text constant="label_password" module="paypal"/></span>
					<input
						type="text"
						class="code"
						name="api_password"
						value="$settings['api_password']"
						cms:eval="value"
						style="width: 250px;"
						/>
				</label>
				<label>
					<span><cms:text constant="label_signature" module="paypal"/></span>
					<input
						type="text"
						class="code"
						name="api_signature"
						value="$settings['api_signature']"
						cms:eval="value"
						style="width: 350px;"
						/>
				</label>
			</div>

			<div>
				<label class="checkbox">
					<input
						type="checkbox"
						name="express_enabled"
						checked="$settings['express_enabled'] ? 'checked' : false"
						cms:optional="checked"
						/>
					<span><cms:text constant="label_express_enabled" module="paypal"/></span>
				</label>
				<label class="checkbox">
					<input
						type="checkbox"
						name="direct_enabled"
						checked="$settings['direct_enabled'] ? 'checked' : false"
						cms:optional="checked"
						/>
					<span><cms:text constant="label_direct_enabled" module="paypal"/></span>
				</label>
			</div>

			<div>
				<label>
					<span><cms:text constant="label_handler_url" module="paypal"/></span>
					<input
						type="text"
						class="code"
						value="URL::make_query('ipn', 'paypal')"
						cms:eval="value"
						style="width: 350px;"
						readonly="readonly"
						/>
				</label>
			</div>
		</div>

		<div class="button_bar">
			<button type="submit"><cms:text constant="save"/></button>
			<button type="reset"><cms:text constant="reset"/></button>
			<button type="button" onclick="$params['cancel_action']" cms:eval="onclick">
				<cms:text constant="cancel"/>
			</button>
		</div>
	</form>
	<script type="text/javascript">
		var notebook = new Notebook('paypal_settings_notebook');
		notebook
		.setPageTitle(0, language_handler.getText('paypal', 'tab_api'))
		.setPageTitle(1, language_handler.getText('paypal', 'tab_methods'))
		.setPageTitle(2, language_handler.getText('paypal', 'tab_ipn'));
	</script>
</document>
