<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" cms:eval="action" method="POST">
		<label>
			<span><cms:text constant="label_terminal" module="tranzila"/></span>
			<input
				type="text"
				class="code"
				name="terminal"
				value="$settings['terminal']"
				cms:eval="value"
				style="width: 260px;"
			/>
		</label>
		<label>
			<span><cms:text constant="label_terminal2" module="tranzila"/></span>
			<input
				type="text"
				class="code"
				name="terminal2"
				value="$settings['terminal2']"
				cms:eval="value"
				style="width: 260px;"
			/>
		</label>
		<label>
			<span><cms:text constant="label_terminal_password" module="tranzila"/></span>
			<input
				type="text"
				class="code"
				name="terminal_password"
				value="$settings['terminal_password']"
				cms:eval="value"
				style="width: 260px;"
			/>
		</label>
		<label>
			<span><cms:text constant="label_url_confirm" module="tranzila"/></span>
			<input
				type="text"
				class="code"
				name="confirm_url"
				value="$params['confirm_url']"
				cms:eval="value"
				style="width: 360px;"
				readonly="readonly"
			/>
		</label>
		<label>
			<span><cms:text constant="label_url_cancel" module="tranzila"/></span>
			<input
				type="text"
				class="code"
				name="confirm_url"
				value="$params['cancel_url']"
				cms:eval="value"
				style="width: 360px;"
				readonly="readonly"
			/>
		</label>
		<div class="button_bar">
			<button type="submit"><cms:text constant="save"/></button>
			<button type="button" onclick="$params['cancel_action']" cms:eval="onclick">
				<cms:text constant="cancel"/>
			</button>
		</div>
	</form>
</document>
