<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" cms:eval="action" method="POST">
		<div class="notebook">
			<!-- Terminal page -->
			<div class="page" data-title="tab_terminal" cms:constant="data-title">
				<label>
					<span><cms:text constant="label_terminal" module="tranzila"/></span>
					<input
						type="text"
						class="code"
						name="terminal"
						value="$settings['terminal']"
						cms:eval="value"
						style="width: 260px;"
						/>
				</label>
				<label>
					<span><cms:text constant="label_terminal2" module="tranzila"/></span>
					<input
						type="text"
						class="code"
						name="terminal2"
						value="$settings['terminal2']"
						cms:eval="value"
						style="width: 260px;"
						/>
				</label>
				<label>
					<span><cms:text constant="label_terminal_password" module="tranzila"/></span>
					<input
						type="text"
						class="code"
						name="terminal_password"
						value="$settings['terminal_password']"
						cms:eval="value"
						style="width: 260px;"
						/>
				</label>
				<label class="checkbox">
					<input
						type="checkbox"
						name="custom_template"
						checked="$settings['custom_template'] ? 'checked' : false"
						cms:optional="checked"
						/>
					<span><cms:text constant="label_custom_template" module="tranzila"/></span>
				</label>
			</div>

			<!-- URLs page -->
			<div class="page" data-title="tab_urls" cms:constant="data-title">
				<label>
					<span><cms:text constant="label_url_confirm" module="tranzila"/></span>
					<input
						type="text"
						class="code"
						name="confirm_url"
						value="$params['confirm_url']"
						cms:eval="value"
						style="width: 350px;"
						readonly="readonly"
						/>
				</label>
				<label>
					<span><cms:text constant="label_url_cancel" module="tranzila"/></span>
					<input
						type="text"
						class="code"
						name="confirm_url"
						value="$params['cancel_url']"
						cms:eval="value"
						style="width: 350px;"
						readonly="readonly"
						/>
				</label>
			</div>
		</div>
		<div class="button_bar">
			<button type="submit"><cms:text constant="save"/></button>
		</div>
	</form>
</document>
