<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" cms:eval="action" method="POST">
		<div id="shop_settings_notebook">
			<!-- General settings -->
			<div>
				<label class="checkbox">
					<span><cms:text constant="label_testing_mode" module="shop"/></span>
					<input
						type="checkbox"
						name="testing_mode"
						checked="$settings['testing_mode'] ? 'checked' : false"
						cms:optional="checked"
						/>
				</label>

				<label>
					<span><cms:text constant="label_default_account_option" module="shop"/></span>
					<select name="default_account_option">
						<cms:account_options
							selected="$settings['default_account_option']"
							cms:eval="selected"
							/>
					</select>
				</label>

				<fieldset>
					<legend><cms:text constant="legend_location" module="shop"/></legend>
					<label>
						<span><cms:text constant="label_fixed_country" module="shop"/></span>
						<select name="fixed_country" style="width: 300px">
							<option/>
							<cms:module
								name="country_list"
								action="show"
								template="country_option.xml"
								local="1"
								selected="$settings['fixed_country']"
								cms:eval="selected"
								/>
						</select>
					</label>
					<label>
						<span><cms:text constant="label_shop_location" module="shop"/></span>
						<select name="shop_location" style="width: 300px">
							<option/>
							<cms:module
								name="country_list"
								action="show"
								template="country_option.xml"
								local="1"
								selected="$settings['shop_location']"
								cms:eval="selected"
								/>
						</select>
					</label>
				</fieldset>
			</div>

			<!-- Email templates -->
			<div>
				<label>
					<span><cms:text constant="label_regular_template" module="shop"/></span>
					<select name="regular_template" style="width: 300px">
						<option/>
						<cms:template_list
							selected="$settings['regular_template']"
							template="templates_option.xml"
							local="1"
							cms:eval="selected"
							/>
					</select>
				</label>
				<label>
					<span><cms:text constant="label_recurring_template" module="shop"/></span>
					<select name="recurring_template" style="width: 300px;">
						<option/>
						<cms:template_list
							selected="$settings['recurring_template']"
							template="templates_option.xml"
							local="1"
							cms:eval="selected"
							/>
					</select>
				</label>
				<label>
					<span><cms:text constant="label_delayed_template" module="shop"/></span>
					<select name="delayed_template" style="width: 300px;">
						<option/>
						<cms:template_list
							selected="$settings['delayed_template']"
							template="templates_option.xml"
							local="1"
							cms:eval="selected"
							/>
					</select>
				</label>
				<label class="checkbox">
					<span><cms:text constant="label_send_copy" module="shop"/></span>
					<input
						type="checkbox"
						name="send_copy"
						checked="$settings['send_copy'] ? 'checked' : false"
						cms:optional="checked"
						/>
				</label>
			</div>
		</div>

		<div class="button_bar">
			<button type="submit"><cms:text constant="save"/></button>
			<button type="reset"><cms:text constant="reset"/></button>
			<button type="button" onclick="$params['cancel_action']" cms:eval="onclick">
				<cms:text constant="cancel"/>
			</button>
		</div>
	</form>

	<script type="text/javascript">
		var notebook = new Notebook('shop_settings_notebook');
		notebook
			.setPageTitle(0, language_handler.getText('shop', 'tab_general'))
			.setPageTitle(1, language_handler.getText('shop', 'tab_email_templates'));
	</script>
</document>
