<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<form action="$params['form_action']" eval="action" method="POST">
		<label>
			<span><_text constant="label_email_article" module="shop"/></span>
			<select name="email_article" style="width: 300px">
				<option/>
				<_module
					name="articles"
					action="show_list"
					template="article_option.xml"
					local="1"
					selected="$settings['email_article']"
					eval="selected"
				/>
			</select>
		</label>
		<label>
			<span><_text constant="label_fixed_country" module="shop"/></span>
			<select name="fixed_country" style="width: 300px">
				<option/>
				<_module
					name="country_list"
					action="show"
					template="country_option.xml"
					local="1"
					selected="$settings['fixed_country']"
					eval="selected"
				/>
			</select>
		</label>
		<label>
			<span><_text constant="label_shop_location" module="shop"/></span>
			<select name="shop_location" style="width: 300px">
				<option/>
				<_module
					name="country_list"
					action="show"
					template="country_option.xml"
					local="1"
					selected="$settings['shop_location']"
					eval="selected"
				/>
			</select>
		</label>
		<div class="button_bar">
			<button type="submit"><_text constant="save"/></button>
			<button type="reset"><_text constant="reset"/></button>
			<button type="button" onclick="$params['cancel_action']" eval="onclick">
				<_text constant="cancel"/>
			</button>
		</div>
	</form>
</document>
