<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE document SYSTEM "../../../units/schema/template.dtd">
<document>
	<tr>
		<td>
			<cms:svg file="$params['icon']" cms:eval="file"/>
			<cms:var name="$params['name']"/>
		</td>
		<td style="text-align: center;">
			<cms:var name="$params['order']"/>
		</td>
		<td style="text-align: center;">
			<cms:var name="$params['preload_symbol']"/>
		</td>
		<td style="text-align: center;">
			<cms:var name="$params['active_symbol']"/>
		</td>
		<td class="options">
			<!-- Module is NOT initialised -->
			<cms:if condition="$params['status'] == 'not_initialized'">
				<cms:var name="$params['item_initialise']"/>
			</cms:if>

			<!-- Module is initialised -->
			<cms:if condition="$params['status'] != 'not_initialized'">
				<cms:if condition="$params['status'] == 'active'">
					<cms:var name="$params['item_deactivate']"/>
				</cms:if>

				<cms:if condition="$params['status'] == 'inactive'">
					<cms:var name="$params['item_activate']"/>
				</cms:if>

				<cms:var name="$params['item_disable']"/>
			</cms:if>
		</td>
	</tr>
</document>
